<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<head>
    <title>Bailarte Dance School</title>
</head>
<body>

<div layout:fragment="content" class="container mySpace">
    <div class="alert alert-success">
        <div class="card">
            <div class="card card-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>
                            <h3> Id</h3>
                        </th>
                        <th>
                            <h3> Level</h3>
                        </th>
                        <th>
                            <h3> Dance Style</h3>
                        </th>
                        <th>
                            <h3> Be a member!</h3>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="group:${myGroups}">
                        <td th:text="${group.id}"></td>
                        <td th:text="${group.level}"></td>
                        <td th:text="${group.danceStyle.getName()}"></td>
                        <td><a href="" class="btn btn-light">Register!</a></td>

                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
</body>
</html>