<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<head>
    <title>Bailarte Dance School</title>
</head>
<body>

<div layout:fragment="content" class="container mySpace">
        <div class="card">
            <div class="card card-body">
                <p>First name:</p>
                <p th:text="${user.getFirstName()}"></p>
                <p>Last name:</p>
                <p th:text="${user.getLastName()}"></p>
                <p>Username:</p>
                <p th:text="${user.getUsername()}"></p>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>
                            <h3> Id</h3>
                        </th>
                        <th>
                            <h3>DanceStyle</h3>
                        </th>
                        <th>
                            <h3> Level</h3>
                        </th>
                        <th>
                            <h3> Delete</h3>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="group:${groups}">
                        <td th:text="${group.id}"></td>
                        <td th:text="${group.getDanceStyle().name}"></td>
                        <td th:text="${group.level}"></td>
                        <td><a th:href="@{/deleteUserGroup(groupId=${group.id})}" class="btn btn-light">Delete</a></td>

                    </tr>
                    </tbody>

                </table>
            </div>

        </div>
    </div>
</div>
</body>
</html>