<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<head>
    <title>Bailarte Dance School</title>
</head>
<body>

<div layout:fragment="content" class="container mySpace">
        <div class="card">
            <div class="card card-body">
                <!--<p>First name:</p><br>-->
                <!--<p th:text="${user.getFirstName()}"></p>-->
                <!--<p>Last name:</p><br>-->
                <!--<p th:text="${user.getLastName()}"></p>-->
                <!--<p>Username:</p><br>-->
                <!--<p th:text="${user.getUsername()}"></p>-->
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>
                            <h2> Id</h2>
                        </th>
                        <th>
                            <h2>DanceStyle</h2>
                        </th>
                        <th>
                            <h2> Level</h2>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="group:${groups}">
                        <td th:text="${group.id}"></td>
                        <td th:text="${group.getDanceStyle().name}"></td>
                        <td th:text="${group.level}"></td>
                    </tr>
                    </tbody>

                </table>
            </div>

        </div>
    </div>
</div>
</body>
</html>