<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<head>
    <title>Bailarte Dance School</title>
</head>
<body>

<div layout:fragment="content" class="container mySpace">
    <div class="jumbotron">
        <p>
        <h3><i>Dance as the narration of a magical story; that recites on lips, illuminates imaginations and embraces
            the most sacred depths of souls.</i></h3></p>
    </div>
</div>
</body>
</html>